body {
  margin:0;
  min-height: 70vh;
  background-color: #ffeaa7;
  font-family: "Architects Daughter", cursive;
  color:hsl(198,1% , 29%);
  font-size: 130%;
}

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: #f1f5f8;
  padding:2rem;
  border-radius: 20px;
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width:250px;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size:25px 25px;
}


